# -------------------
# Terraform
# -------------------
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
*.tfstate
*.tfstate.*

# -------------------
# Secrets (CRITICAL)
# -------------------
*.pem
*.tfvars
.env

# -------------------
# Logs
# -------------------
logs/

# -------------------
# Temporary files
# -------------------
*.tmp

# -------------------
# IDE / OS
# -------------------
.vscode/
.DS_Store

# -------------------
# Python cache
# -------------------
__pycache__/

# -------------------
# Monitoring / metrics artifacts
# -------------------
custom-metrics/*.prom
observability/grafana-data/
observability/prometheus-data/
